# Molecule managed

{% if item.registry is defined %}
FROM {{ item.registry.url }}/{{ item.image }}
{% else %}
FROM {{ item.image }}
{% endif %}

RUN apt-get update &&\
    apt-get install systemd python3 sudo bash ca-certificates iproute2 -y &&\
    apt-get clean &&\
    if [ ! -e /sbin/init ]; then ln -s /lib/systemd/systemd /sbin/init ; fi

# Don't start the optional systemd services.
RUN find /etc/systemd/system \
         /lib/systemd/system \
         -path '*.wants/*' \
         -not -name '*journald*' \
         -not -name '*systemd-tmpfiles*' \
         -not -name '*systemd-user-sessions*' \
         -exec rm \{} \; &&\
    systemctl set-default multi-user.target

CMD ["/sbin/init"]
